
.menu-item{
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.menu-item:after{
    content: "";
    position: absolute;
    background: linear-gradient(black,gray);
    height: 4px;
    width: 0px;
    left: 0;
    bottom: -10px;
    transition: 1s;
}

.menu-item:hover{
    color: black;
    
}
.menu-item:hover::after{
    width: 100%;
    border-radius: 100%;
}

.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    position: relative;
  }
  
  .close-button::before, .close-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 2px;
    background-color: black;
  }
  
  .close-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .close-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .tailwind{
    color :#38BDF8;
  }
  
  .bootstrap{
    color :#563D7C;
  }
  .sass{
    color :#CC6699;
  }
  .react{
    color : #61DAFB;
  }
  .javascript{
    color :#F7DF1E;
  }
  .css{
    color : #1572B6; 
  }
  .html{
    color :#E34F26 ;
  }
  .icon {
    transition: transform 0.3s;
    cursor: pointer;
  }

  .icon:hover {
    animation: hop 0.6s ease-in-out infinite;
  }

  @keyframes hop {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }