
.menu-item{
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.menu-item:after{
    content: "";
    position: absolute;
    background: linear-gradient(black,gray);
    height: 4px;
    width: 0px;
    left: 0;
    bottom: -10px;
    transition: 1s;
}

.menu-item:hover{
    color: black;
    
}
.menu-item:hover::after{
    width: 100%;
    border-radius: 100%;
}

.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    position: relative;
  }
  
  .close-button::before, .close-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 2px;
    background-color: black;
  }
  
  .close-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .close-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .elipse {
    transition: transform 0.5s ease-in-out;
  }
  
  .elipse:hover {
    animation: rotate 1s linear infinite;
    border: 5px white solid;
    
  }
  .bold{
    color: black;
    font-weight: bolder;
  }
  .html{
    color: #E34F26;
  }
  .css{
    color:#1572B6;
  }
  .javascript{
    color :#F7DF1E;
  }
  .react{
    color : #61DAFB;
  }
  .tailwind{
    color : #06B6D4 ; 
  }
  .bootstrap{
    color :#7952B3;
  }
  .figma{
    color : #A259FF ;
  }
  .sass{
    color :#CC6699;
  }
  .bulma{
    color : #23d160 ;
  }
  .git{
    color: #f34f29;
  }

  .github{
    color : #181717 ;
  }

  .vsc{
    color :  #007acc ;
  }
  .arrow{
    animation:  bounce 1s infinite;
    color: white!important;

  }

  @keyframes bounce{
    0%, 100%{
      transform: translateY(0);
    }50%{
      transform: translateY(5px);
    }
  
  }
  .arrow:nth-child(2){
    animation-delay: 0.4s;
  }

  .arrow:nth-child(3){
    animation-delay: 0.6s;
  }